[data-a11y-slider] {
  [data-a11y-slider-arrow] {
    pointer-events: all;

    &[aria-disabled='true'] {
      cursor: default;
      pointer-events: none;
    }
  }

  // [data-a11y-slider-previous] {
  // }

  // [data-a11y-slider-next] {
  // }
  [data-a11y-slider-arrows-wrapper] {
    position: relative;
  }

  [data-a11y-slider-arrows] {
    pointer-events: none;
    user-select: none;

    > nav {
      > ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;

        > li {
          margin: 0;
        }
      }
    }
  }
}
