[data-a11y-slider] {
  [data-a11y-slider-slides] {
    display: flex;
    height: 100%;
    list-style: none;
    margin: 0;
    -ms-overflow-style: none;
    overflow-x: scroll;
    overscroll-behavior-x: none;
    padding: 0;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
