[data-a11y-slider] {
  [data-a11y-slider-bullet] {
    pointer-events: all;
  }

  [data-a11y-slider-pagination] {
    pointer-events: none;
    user-select: none;

    > nav {
      > ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;

        > li {
          margin: 0;
        }
      }
    }

    [aria-current='true'] {
      [data-a11y-slider-bullet] {
        cursor: default;
      }
    }
  }
}
