/// Space between slides

$space-between-slides: 0px !default;

/// Slider slide sizing
/// @require {variable} basics-slider-settings
/// @param {number} $slides Number of slides to show in viewport (can be 1, 1.5, 2 etc.)
/// @param {number} $spacing [$space-between-slides] Space between slides (any size unit like '%', 'vw', 'px', etc.)
/// @param {boolean} $scroll-margin [false] 'true': snap to end of previous slide, 'false': snap to start of current slide
/// @param {number} $before [null] Space before the first slide (any size unit like '%', 'vw', 'px', etc.)
/// @param {number} $after [null] Space after the last slide (any size unit like '%', 'vw', 'px', etc.)
/// @param {'left'|'center'|'right'} $alignment ['left'] Current slide position
/// @example
///   [data-a11y-slider] {
///     @include slide-sizing(1); // show a single slide
///     @include slide-sizing(2); // show two slides
///     @include slide-sizing(2, $before: 100px, $after: 30vw); // show two slides and add space before the first and after the last slide
///     @include slide-sizing(1, $spacing: 30px); // show a single slide and add space between all slides
///     @include slide-sizing(2, $spacing: 30px); // show two slides and add space between all slides
///     @include slide-sizing(2, $spacing: 30px, $before: 100px, $after: 30vw); // show two slides and add space between all slides and add space before the first and after the last slide
///     @include slide-sizing(2.5, $spacing: 30px, $before: 300px, $after: 30vw); // show two and a half slides and add space between all slides and add space before the first and after the last slide
///     @include slide-sizing(2, $spacing: 30px, $before: 300px, $after: 30vw, $scroll-margin: true); // show two slides and add space between all slides and add space before the first and after the last slide and show a space on the left edge that has the size of the space between all slides
///     @include slide-sizing(2, $alignment: 'center'); // show two slides and align them centered (will show 1 slide in the middle and a half slide on the left and on the right side)
///   }

@mixin slide-sizing(
  $slides,
  $spacing: $space-between-slides,
  $scroll-margin: false,
  $before: null,
  $after: null,
  $alignment: 'left'
) {
  /// Calculation for slide size

  $slide-size: 0;

  @if $before == 0 {
    $before: 0px;
  } @else if $before == null {
    $before: 0px;
  }

  @if $after == 0 {
    $after: 0px;
  } @else if $after == null {
    $after: 0px;
  }

  @if $spacing == 0 {
    $spacing: 0px;
  } @else if $spacing == null {
    $spacing: 0px;
  }

  @if $spacing == 0px {
    // without spacing
    $slide-size: percentage(math.div(100, $slides) * 0.01);
  } @else {
    // with spacing

    @if $slides > 1 {
      @if $scroll-margin == true {
        // with $scroll-margin
        $slide-size: calc(
          #{percentage(math.div(100, $slides) * 0.01)} -
            #{$spacing} *
            #{$slides +
            1} /
            #{$slides}
        );
      } @else {
        // without $scroll-margin
        $slide-size: calc(
          #{percentage(math.div(100, $slides) * 0.01)} -
            ((#{$spacing}) * #{round($slides) - 1}) /
            #{$slides}
        );
      }
    } @else {
      @if $scroll-margin == true {
        // with $scroll-margin
        $slide-size: calc(
          #{percentage(math.div(100, $slides) * 0.01)} - #{$spacing}
        );
      } @else {
        // without $scroll-margin
        $slide-size: percentage(math.div(100, $slides) * 0.01);
      }
    }
  }

  [data-a11y-slider-slide] {
    flex: 1 0 #{$slide-size};
    margin-left: $spacing;
    max-width: #{$slide-size};
    position: relative;

    @if $scroll-margin {
      scroll-margin: $spacing;
    } @else {
      scroll-margin: unset;
    }

    @if $alignment == 'left' {
      scroll-snap-align: start;
    } @else if $alignment == 'center' {
      scroll-snap-align: center;
    } @else {
      scroll-snap-align: end;
    }
  }

  [data-a11y-slider-slide-spacer] {
    opacity: 0;
    pointer-events: none;

    &:first-of-type {
      @if $before == null {
        display: none;
      } @else {
        display: block;
        flex: 1 0 #{$before};
        width: #{$before};
        margin-left: 0;
        max-width: unset;
      }
    }

    &:last-of-type {
      @if $after == null {
        display: none;
      } @else {
        display: block;
        flex: 1 0 #{$after};
        width: #{$after};
        margin-left: 0;
        max-width: unset;
      }
    }

    + [data-a11y-slider-slide] {
      margin-left: 0;
    }
  }
}

[data-a11y-slider] {
  @include slide-sizing(1); // default
}
