/// Hide visually (still accessible by Screenreaders)
/// @link https://a11yproject.com/posts/how-to-hide-content/

@mixin hide-visually() {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

[data-a11y-slider] {
  position: relative;

  // Hide reference element
  + [aria-hidden='true'] {
    display: none;
  }

  // Improve browsers default behaviour on interactable elements
  button {
    cursor: pointer;
  }

  .visuallyhidden {
    @include hide-visually();
  }
}
